{
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-env", { "targets": "> 0.25%, not dead" }]
  ],
  "plugins": [
    "syntax-jsx",
    ["transform-react-jsx", { "pragma": "Snabbdom.createElement" }]
  ]
}
